$scope: original !default;

@import "helpers/variables";
@import "modules/mixin";

.toolbar {
    .toolbar-item {
        .basic-button {
            @include scope($scope) {
                font-size: 12px;
            }

            @include export-selector("basic-button");
        }

        .toggle-button {
            @include scope($scope) {
                color: red;
            }

            @include export-selector("toggle-button");
        }
    }
}